
            h1 {
                color: red;
                font-family: Arial;
                font-size: large;
            }

            p {
                color: goldenrod;
                font-family: Verdana;
                font-size: medium;
            }
